.container {
  display: flex;
  margin-bottom: 2rem;
}

.form{
  width: 25%;
  border-right: 2px solid rgb(226, 226, 226);
  margin-right: 52px;
}

.inputGroup{
  margin-bottom: 1rem;
  label{
    display: block;
    margin-bottom: .25rem;
  }
}
.tableContainer{
  width: 70%;
}

.table {
  width: 100%;
  background: black;
  text-align: left;
  thead{
    tr>th{
      background: black;
      color: white;
    }
  }
  tr {
    th,
    td {
      background: white;
      padding: 0.5rem;
    }
    .actionSpan{
      width: 130px;
    }
  }
}
